<ion-content>
    <img src="../../../assets/Circulo rojo con modulor.png" class="img mr-60 mt">
    <img src="../../../assets/Circulo blanco con Logo.png" class="img mt">
    <img src="../../../assets/Circulo azul con MODULOR.png" class="img ml mt">
    <ion-card *ngFor="let agenda of agendas">
        <ion-card-header>
            <img class="imagen" [src]="agenda.foto">
            <ion-card-subtitle>{{ agenda.copete }}</ion-card-subtitle>
            <ion-card-title>{{ agenda.titulo }}</ion-card-title>
        </ion-card-header>

        
        <ion-footer class="center">
            <ion-button color="light" (click)="verDetalle(agenda)">
                <ion-icon name="add-circle-outline" class="mr"></ion-icon>
                Ver más
            </ion-button>
        </ion-footer>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
            

</ion-content>
