ion-title{
    text-align: center;
    height: 50px;
}
.icons{
    padding-top: 4px !important;
    color: red;
}
.subtitle{
    color: white;
    background-color: #517FB3;
    border-image-source: linear-gradient(90deg, #105098 90%, #DC3932 10%);
    border-image-slice: 5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}
.img-hombre{
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.3;
    height: 100%;
}