<ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="chevron-down-outline" class="icons"></ion-icon>
        Lista de empresas
        <ion-icon name="chevron-down-outline" class="icons"></ion-icon>
      </ion-title>

      <ion-title class="subtitle">
        {{ rubro.rubro }}
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content>
    <img class="img-hombre" src="../../../assets/hombre-menu.png">
    <ion-list style="background: transparent;">
      <app-empresa-item *ngFor="let item of empresas" [item]="item" ></app-empresa-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    
  </ion-content>

  