<ion-header>
  <ion-toolbar class="toolbar-bg" >
    <ion-buttons slot="start">
      <ion-menu-button *ngIf="verMenu"></ion-menu-button>
      <ion-back-button *ngIf="!verMenu" defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
    <!--<ion-searchbar class="searchbar" placeholder="Buscar"></ion-searchbar>-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="mycontent">
    <ion-menu contentId="mycontent" >
      <ion-header class="menu-header">
        <img src="../../../assets/logo.png" class="menu-logo">
      </ion-header>
  
      <ion-content class="menu-bg">
        <ion-list class="menu-list">
          <ion-menu-toggle  auto-hide="false" *ngFor="let p of pages">
            <ion-item class="item-font item-border item" [routerLink]="p.url">
              {{ p.title }}
            </ion-item>
          </ion-menu-toggle>
          <ion-item class="item-font item-border item" (click)="logout()">
            Salir
          </ion-item>
        </ion-list>
      </ion-content>
  
    </ion-menu>
  
  
    <ion-router-outlet id="mycontent">

    </ion-router-outlet>

  </ion-split-pane>
</ion-content>

