ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
}

.box{
    border-left: 4px solid #969FAA;
    width: 75%;
    height: 50%;
    margin-top: 30%;
    margin-left: 20%;
    padding: 5px;
    padding-top: 25px;
    text-align: right;
}

.box-label1{
    background-color: rgba(220, 57, 50, 0.68);
    color: white;
    font-size: 14px;
    height: 23px;
    text-align: center;
    padding-top: 3px;
}

.box-label2{
    background-color: rgba(220, 57, 50, 0.68);
    color: white;
    font-size: 12px;
    height: 23px;
    text-align: center;
    padding-top: 4px;
}

.box-img{
    width: 80%;
    background-color: white;
    margin-top: 30px;
}

.m-t{
    margin-top: 90px;
}

.img-hombre{
    position: absolute;
    bottom: 10px;
    left: 3px;
    opacity: 0.3;
    width: 40%;
    height: 87%;
}