<ion-content>
  <img class="img-hombre" src="../../../assets/hombre.png">
  <div class="box">
    <div class="box-label1">La Obra Señalada</div>
    <img class="box-img" src="../../../assets/logo.png">
    <div class="box-label2 m-t">Arquitectura-Diseño-Construcción</div>
  </div>
</ion-content>
