<ion-content>
  <img class="imagen" [src]="empresa?.logo">
  <div class="info center">
    <p>{{empresa?.nombre}}</p>
  </div>

  <div class="box" (click)="goto()">
    <div class="label">Consultanos</div>
    <img class="rectangulo" src="../../../assets/rectangulo.png">
    <img class="dialogo" src="../../../assets/burbuja.png">
  </div>

  <div class="social">
    <a [href]="empresa?.facebook" target="_blank" ><img class="social-item mr" src="../../../assets/facebook.png"></a>
    <a [href]="empresa?.instagram" target="_blank"><img class="social-item ml" src="../../../assets/instagram.png"></a>
  </div>
  
  
</ion-content>
