.imagen{
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    border-image-source: linear-gradient(90deg, #105098 80%, #DC3932 20%);
    border-image-slice: 5;
    border-bottom-width: 10px;
    border-bottom-style: solid;
}

.info{
    color: #105098;
    font-size: 14px;
}

.center{
    text-align: center;
}

.box{
    height: 230px;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.dialogo{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 50%;
}

.label{
    position: absolute;
    top: 15%;
    left: 30%;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.social{
    text-align: center;
}
.social-item{
    width: 35px;
    display: inline-block;
}

.mr{
    margin-right: 10px;
}
.ml{
    margin-left: 10px;
}