<ion-content>
    <img src="../../../assets/Circulo rojo con modulor.png" class="img mr mt">
    <img src="../../../assets/Circulo blanco con Logo.png" class="img mt">
    <img src="../../../assets/Circulo azul con MODULOR.png" class="img ml mt">
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let programa of programas; let i = index" size="4" class="columna" [class.color1]="isColor1(i)" [class.color2]="isColor2(i)" [class.color3]="isColor3(i)" >
                <img [src]="programa.img" (click)="goto(programa)">
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
