ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
    text-align: center;
}
.grilla{
    width: 80%;
}
.frame{
    width: 80% !important;
    height: 100% !important;
}
.columna{
    margin-bottom: 10px;
    text-align: center;
    padding-top: 8px;
}
.color1{
    background-color: white;
}
.color2{
    background-color: #3E3691;
}
.color3{
    background-color: #DC3932;
}

.img{
    width: 50px;
    height: 50px;
}
.mr{
    margin-right: 60px;
}
.ml{
    margin-left: 60px;
}
.mt{
    margin-top: 10px;
}