ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
}

.menu-header{
    background-color: white;
    height: 50px;
    text-align: center;
}

.menu-logo{
    height: 100%;
}

.menu-bg{
    --ion-background-color:#105098 !important;
    --background:#105098 !important;
}

.item-font{
    color: white !important;
}

.menu-list{
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    border-left: 4px solid #E56F69;
    padding-bottom: 25px;
}

.item-border{
    --border-color: 4px solid #969FAA;
}

.toolbar-bg{
    --background: linear-gradient(90deg, #105098 80%, #DC3932 20%);
    --color: white;
}

.img-hombre{
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0.3;
    height: 100%;
}

.button-icon{
    width: 50px;
    height: 50px;
    color: white;
}

.img-button{
    width: 45px;
    height: 60px;
    padding-top: 20px;
}

ion-grid{
    margin-top: 30px;
}
ion-col{
    text-align: center !important;
}

ion-row{
    height: 175px;
}

.img-button-frame{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: white;
    margin-left: 50px;
}

.img-button-label{
    color: white;
    font-size: 16px;
    margin-top: 12px;
    width: 100px;
    margin-left: 25%;
}