<img class="img-hombre" src="../../../assets/hombre-menu.png">
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="img-button-frame" (click)="goto(1)">
        <img class="img-button" src="../../../assets/feria.png">
      </div>
      <div class="img-button-label">Gestión Empresas</div>
    </ion-col>
    <ion-col>
      <div class="img-button-frame" (click)="goto(2)">
        <img class="img-button" src="../../../assets/transmision.png">
      </div>
      <div class="img-button-label">Transmisión en vivo</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="img-button-frame" (click)="goto(3)">
        <img class="img-button" src="../../../assets/agenda.png">
      </div>
      <div class="img-button-label">Agenda</div>
    </ion-col>
    <ion-col>
      <div class="img-button-frame" (click)="goto(4)">
        <img class="img-button" src="../../../assets/novedades.png">
      </div>
      <div class="img-button-label">Novedades</div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="img-button-frame" (click)="goto(5)">
        <img class="img-button" src="../../../assets/programas.png">
      </div>
      <div class="img-button-label">Programas</div>
    </ion-col>
    <ion-col>
      <div class="img-button-frame" (click)="goto(6)">
        <img class="img-button" src="../../../assets/productos.png">
      </div>
      <div class="img-button-label">Productos y servicios</div>
    </ion-col>
  </ion-row>
</ion-grid>