<ion-content>
  <img class="img-hombre" src="../../../assets/hombre.png">
  <div class="box">
    <div class="box-label1">Registrarse</div>
    
    <ion-grid class="mp-0">
      <ion-row>
        <ion-col class="aling-left" size="4">
          <label class="label">Nombre:</label>
        </ion-col>
        <ion-col size="8">
          <ion-input class="textbox" type="text" [(ngModel)]="nombre"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="aling-left" size="4">
          <label class="label">E-Mail:</label>
        </ion-col>
        <ion-col size="8">
          <ion-input class="textbox" type="text" [(ngModel)]="email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="aling-left" size="4">
          <label class="label">Contraseña</label>
        </ion-col>
        <ion-col size="8">
          <ion-input class="textbox" type="password" [(ngModel)]="password" (keyup.enter)="onEnter()"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="aling-rigth" size="12">
          <label class="label">Ya tienes cuenta? <a (click)="goToLogin()">Ingresa</a></label>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <div class="box-label2 m-t">Arquitectura-Diseño-Construcción</div>

    
  </div>
</ion-content>
