<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="close()">
        <ion-icon icon="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Google Cast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="titulo">Pasos para ver en tu Smart</h1>
  <p class="item">1 - Asegurarse que el dispositivo esté en la misma red que el Smart Tv.</p>
  <p class="item">2 - Abrir el video con la App de YouTube presionando el título del video.</p>
  <p class="item">3 - Desde la App de YouTube presionar el ícono de Cast. <img class="img" src="../../../assets/cast.png"></p>
  <p class="item">4 - Seleccionar del listado tu Smart Tv.</p>
</ion-content>
