<ion-content>
    <img class="img-hombre" src="../../../assets/hombre.png">

    <ion-grid class="product-grid">
         <ion-row>
             <ion-col size="3" *ngFor="let producto of productos" class="producto">
                 <img [src]="producto.logo" class="producto-img">
                 <!--<div class="producto-nombre">{{ producto.nombre }}</div>-->
             </ion-col>
         </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
