ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
    text-align: center;
}
.product-grid{
    margin-left: 50px;
}

.img-hombre{
    position: absolute;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    height: 100%;
}

.producto{
    width: 80px;
    height: 80px;
    color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    background-color: white;
    margin: 5px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;

}
.producto-img{
    width: 100%;
    max-height: 90%;
    margin-top: 5%;
    background-color: white;
}

.producto-nombre{
    position: absolute;
    bottom: -20px;
    left: 25%;
}