<ion-content>
  <img src="../../../assets/Circulo rojo con modulor.png" class="img mr-60 mt">
  <img src="../../../assets/Circulo blanco con Logo.png" class="img mt">
  <img src="../../../assets/Circulo azul con MODULOR.png" class="img ml mt">
  
  <ion-card>
      <ion-card-header>
          <img class="imagen" [src]="novedad?.foto">
          <ion-card-subtitle>{{ novedad?.copete }}</ion-card-subtitle>
          <ion-card-title>{{ novedad?.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content [innerHTML]="novedad?.cuerpo">
         
      </ion-card-content>
  </ion-card>
</ion-content>