ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
    text-align: center;
}

.img{
    width: 50px;
    height: 50px;
}
.mr-60{
    margin-right: 60px;
}
.ml{
    margin-left: 60px;
}
.mt{
    margin-top: 10px;
}