ion-item{
    height: 80px;
    border-image-source: linear-gradient(90deg, #105098 90%, #DC3932 10%);
    border-image-slice: 5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.imagen{
    height: 16px;
    width: auto;
    margin-right: 15px;
}
.logo{
    width: 100px;
    margin-right: 15px;
    height: 80%;
}
.cliente{
    margin-right: 70px !important;
}

.label{
    height: 55px;
    color: #517FB3;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-top: 15px;
    width: 80%;
    padding-left: 10px;
    font-size: 20px;
}