<ion-item (click)="goto()" color="none" lines="none">
  <img class="imagen" src="../../../assets/cirle.png">
  <img class="logo" [src]="item?.logo" >
  <div class="label" [class.cliente]="item?.logo">
    <ion-label>{{ item?.nombre }}</ion-label>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
  
</ion-item>