ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
    text-align: center;
}

.frame{
    background-color: white;
    padding: 10px;
    width: auto;
    margin-top: 40%;
    height: 200px;
}