ion-content{
    --background: linear-gradient(90deg, #105098 80%, rgba(220, 57, 50, 0.68) 20%);
    text-align: center;
}

.frame{
    background-color: white;
    padding: 10px;
    width: auto;
    margin-top: 40%;
    height: 200px;
}

.img-logo{
    position: absolute;
    width: 90px;
    height: 90px;
    right: 10px;
    bottom: 190px;
}

.img-envivo{
    position: absolute;
    width: 120px;
    height: auto;
    left: 20px;
    top: 30px;
}

.info-icon{
    color: white;
    font-size: 35px;
    position: absolute;
    left: 180px;
    top: 40px;
}

.modal-class{
    
}