<ion-content>
  
    <iframe
      class="frame"
      [src]="trustedVideoUrl" 
      frameborder="0" 
      allowfullscreen>
    </iframe>
    <img class="img-logo" src="../../../assets/Laos logo con circulo.png">
    <img class="img-envivo" src="../../../assets/Boton En Vivo.jpg">
  
    <ion-icon class="info-icon" name="information-circle-outline" (click)="showInfo()"></ion-icon>
  </ion-content>
  