<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="chevron-down-outline" class="icons"></ion-icon>
      Lista de rubros
      <ion-icon name="chevron-down-outline" class="icons"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-rubro-item *ngFor="let item of items" [item]="item" ></app-rubro-item>
  </ion-list>
</ion-content>
