<ion-item (click)="goto()">
  <img class="imagen" src="../../../assets/circle-logo.png">
  <div class="label">
    <ion-label>{{ item?.nombre }}</ion-label>
  </div>
  <ion-icon name="chevron-forward-outline"></ion-icon>
</ion-item>