ion-item{
    height: 55px;
    border-image-source: linear-gradient(90deg, #105098 90%, #DC3932 10%);
    border-image-slice: 5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
}

.imagen{
    height: 40px;
    width: auto;
    margin-right: 15px;
}

.label{
    height: 55px;
    color: white;
    background-color: #517FB3;
    padding: 0px;
    margin: 0px;
    border: 0px;
    padding-top: 15px;
    width: 80%;
    padding-left: 10px;
}
