<ion-content>
  <img class="imagen" [src]="empresa?.logo">
  <div class="dialogo">
    <div class="mensajes" #list [scrollTop]="list.scrollHeight">
      <div *ngFor="let m of mensajes" class="mensaje" [class.mensaje-r]="m?.tipo==1" [class.mensaje-l]="m?.tipo==2">
        <div [class.msg-empresa]="m?.tipo==1" [class.msg-usuario]="m?.tipo==2">
          {{ m?.mensaje }}
        </div>
      </div>
    </div>
  </div>
  <div class="chat" id="chat">
    <ion-input class="inline ancho textbox" [(ngModel)]="mensaje"></ion-input>
    <ion-button class="inline boton" color="light" (click)="send()">Enviar</ion-button>
  </div>
</ion-content>
