.imagen{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    border-image-source: linear-gradient(90deg, #105098 80%, #DC3932 20%);
    border-image-slice: 5;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    height: 120px;
}

.dialogo{
    position: absolute;
    top: 120px;
    bottom: 60px;
    right: 0px;
    left: 0px;
    border: 2px solid #105098;
    border-radius: 20px;
    margin: 10px;
}

.mensajes{
    margin-top: 10px;
    height: 90%;
    overflow-y: scroll;
}

.chat{
    align-items: center;
    position: absolute;
    bottom: 0px;
    margin: 10px;
}



.mensaje{
    width: 100%;
}

.mensaje-r{
    padding-left: 20%;
}
.mensaje-l{
    padding-right: 20%;
}

.msg-empresa{
    color: white;
    font-size: 16px;
    background-color: #416fa5;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: right;
}

.msg-usuario{
    color: white;
    font-size: 16px;
    background-color: #7d90a5;
    height: auto;
    margin: 10px;
    padding: 10px;
    text-align: left;
}


.textbox{
    border: 1px solid gray;
    border-radius: 10px;
    align-items: center;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}
.inline{
    display: inline-block;
}
.ancho{
    width: 68%;
}
.boton{
    padding-bottom: 10px;
    width: 20%;
    z-index: 100;
}
